input[type="text"], 
input[type="number"], 
input[type="file"], 
textarea, 
select { 
  background-color: transparent; 
  border: 1px solid grey-800; 
  color: grey-800; 
  font-family: Geneva, sans-serif; 
  font-weight: lighter; 
  padding: 10px; 
  border-radius: 8px; 
  outline: none; 
  transition: all 0.3s ease; 
}

input:hover,
textarea:hover,
select:hover {
  border-color: #6BB1A6; 
  background-color: rgba(255, 255, 255, 0.05); 
}

input:focus,
textarea:focus,
select:focus {
  border-color: #6BB1A6; 
  background-color: rgba(255, 255, 255, 0.05); 
  box-shadow: 0 0 8px rgba(107, 177, 166, 0.5); 
}
